<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.allen.dao.CommonMapper">
    <resultMap id="AreaResultMap" type="com.cn.allen.pojo.ConsultConfigArea" >
        <result column="AREACODE" property="areaCode" jdbcType="VARCHAR" />
        <result column="AREANAME" property="areaName" jdbcType="VARCHAR"/>
        <result column="STATE" property="state"/>
    </resultMap>
    <select id="queryAreaByAreaCode" parameterType="java.util.Map" resultMap="AreaResultMap">
        select * from consult_configarea
        <choose>
            <when test="areaCode=='101'">
                where areaName= '测试1'
            </when>
            <when test="areaCode=='102'">
                where areaName= '测试2'
            </when>
            <otherwise>
                where areaName= '测试1'
            </otherwise>

        </choose>
    </select>
</mapper>